import React from 'react';
import PropTypes from 'prop-types';
import BaseComponent from 'pages/BaseComponent';

export default class {{ properCase name }} extends BaseComponent {
  static propTypes = {
    children: PropTypes.node,
  };

  render() {
    return (
      <div>
        Hello {{ properCase name }}Component
      </div>
    );
  }
}
