import React from 'react';
import PropTypes from 'prop-types';
import BasePage from 'pages/BasePage';

export default class {{ properCase name }} extends BasePage {
  static propTypes = {
    children: PropTypes.node,
  };

  render() {
    return (
      <div>
        Hello {{ properCase name }}Page
      </div>
    );
  }
}
